* {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto auto auto auto;
}

h2 {
    font-size: 4em;
    color: #420e0e;
    text-transform: uppercase;
    margin-top: 100px;
    text-align: center;
    -webkit-box-reflect:below -15px linear-gradient(transparent, #0004);
}

body {
    background-color: #790d0d;
}

h2 span {
    animation: animate 5s linear infinite;
 }

@keyframes animate {
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%{
        color: #420e19;
        text-shadow: none;
    }

    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%{
        color: rgb(143, 0, 45);
        text-shadow: 0 0 10px #f42b03, 0 0 20px #f4034b, 0 0 40px #f42303, 0 0 80px #f4034b, 0 0 160px #f41b03, 0 0 400px #f4034b;
    }
}
h2 span:nth-child(even){
    animation-delay: 0.4s
}